# PlatformIO
firmware/**/.pio/
firmware/**/.vscode/
firmware/**/.pioenvs/
firmware/**/.piolibdeps/

# Node
node_modules/
npm-debug.log*
backend/**/dist/

# Data / secrets
*.env
.env.local
backend/server/data/*.json
firmware/**/include/secrets.h

# OS
.DS_Store
Thumbs.db
